<div class="container">
  <h2>タグ: <%= image_tag "#{@tag.category.name}_icon" %><%= @tag.name %>の詳細ページ</h2>
  <div class="row">
    <div class="col-3">
      <%= link_to 'タグの編集へ', edit_tag_path(@tag), class: "btn btn-primary" %>
    </div>
    <div class="col-3">
      <%= link_to 'このタグで検索', search_meals_logs_path(search: {type: 'tag', id: @tag.id}), class: "btn btn-success" %>
    </div>
  </div>
  <hr>
  <h4>このタグが登録されている料理</h4>
  <p>料理名をクリックすると、対象からこのタグを外すことができます。</p>
  <div class="row">
    <% @tag.meals.each do |meal| %>
      <div class="col-md-4">
        <%= image_tag "#{meal.category.name}_icon", size: 32 %>
        <%= link_to meal.name, withdraw_tag_path(meal_id: meal.id), method: :delete %>
      </div>
    <% end %>
  </div>
  <hr>
  <h4>このタグが登録されていない料理</h4>
  <p>料理名をクリックすると、対象にこのタグをつけることができます。</p>
  <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-md-4">
        <%= image_tag "#{meal.category.name}_icon", size: 32 %>
        <%= link_to meal.name, join_tag_path(meal_id: meal.id), method: :post %>
      </div>
    <% end %>
  </div>
</div>