<% if @logs.empty? %>
  本日の献立はまだ登録されていません。
<% else %>
  <% contents = make_menu(@logs) %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th>料理名</th>
        <th>値段</th>
        <th>大変さ</th>
        <th>カロリー</th>
        <th>献立から削除</th>
      </thead>
      <tbody>
        <% contents[:meals].each do |meal| %>
          <td><%= meal.name %></td>
          <td><%= meal.price.select %></td>
          <td><%= meal.labor.select %></td>
          <td><%= meal.calorie.select %></td>
          <td><%= link_to '献立から削除', log_path(meal), method: :delete %></td>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr>
  <h3>本日の献立に関連するタグ一覧</h3>
  <div class="row">
    <% contents[:tags].each do |tag| %>
      <div class="col-md-3">
        <%= tag.name %>
      </div>
    <% end %>
  </div>
<% end %>


