<h1>Tests#index</h1>
<p>Find me in app/views/tests/index.html.erb</p>

<p>---------------------------------------------------------</p>
ここに各種リンクを設置する<br>
<br>
mealsコントローラー<br>
<%= link_to 'index', meals_path %><br>
<%= link_to 'new', new_meal_path %><br>
<% if @meals.empty? %>
  まだ食事は登録されていません。<br>
<% else %>
  <% @meals.each do |meal| %>
    <%= link_to "edit -> #{meal.name}", edit_meal_path(meal) %><br>
  <% end %>
  <% @meals.each do |meal| %>
    <%= link_to "show -> #{meal.name}", meal_path(meal) %><br>
  <% end %>
  <% @meals.each do |meal| %>
    <%= link_to "destroy -> #{meal.name}", meal_path(meal), method: :delete %><br>
  <% end %>
<% end %>
<br><br>
tagsコントローラー<br>
<%= link_to 'index', tags_path %><br>
<%= link_to 'new', new_tag_path %><br>
<% if @tags.empty? %>
  まだタグは登録されていません。<br>
<% else %>
  <% @tags.each do |tag| %>
    <%= link_to "edit -> #{tag.name}", edit_tag_path(tag) %><br>
  <% end %>
  <% @tags.each do |tag| %>
    <%= link_to "show -> #{tag.name}", tag_path(tag) %><br>
  <% end %>
  <% @tags.each do |tag| %>
    <%= link_to "destroy -> #{tag.name}", tag_path(tag), method: :delete %><br>
  <% end %>
<% end %>
